@keyframes a {
    0% {
        transform: scale(1.5);
        opacity: 0
    }

    to {
        transform: scale(1);
        opacity: 1
    }
}

@keyframes b {
    0% {
        transform: scale(1);
        opacity: 1
    }

    15% {
        transform: scale(1.1);
        opacity: 1
    }

    to {
        transform: scale(.5);
        opacity: 0
    }
}

@keyframes c {
    0% {
        transform: translate(-50%,-50%) rotate(0)
    }

    50% {
        transform: translate(-50%,-50%) rotate(-180deg)
    }

    to {
        transform: translate(-50%,-50%) rotate(-1turn)
    }
}

@keyframes d {
    0% {
        transform: scale(1)
    }

    10% {
        transform: scale(1.2) translateX(6px)
    }

    25% {
        transform: scale(1.3) translateX(8px)
    }

    40% {
        transform: scale(1.2) translateX(6px)
    }

    50% {
        transform: scale(1)
    }

    60% {
        transform: scale(.8) translateX(6px)
    }

    75% {
        transform: scale(.7) translateX(8px)
    }

    90% {
        transform: scale(.8) translateX(6px)
    }

    to {
        transform: scale(1)
    }
}

@keyframes e {
    0% {
        transform: scale(1)
    }

    10% {
        transform: scale(1.2) translateX(-6px)
    }

    25% {
        transform: scale(1.3) translateX(-8px)
    }

    40% {
        transform: scale(1.2) translateX(-6px)
    }

    50% {
        transform: scale(1)
    }

    60% {
        transform: scale(.8) translateX(-6px)
    }

    75% {
        transform: scale(.7) translateX(-8px)
    }

    90% {
        transform: scale(.8) translateX(-6px)
    }

    to {
        transform: scale(1)
    }
}

@-webkit-keyframes a {
    0% {
        -webkit-transform: scale(1.5);
        opacity: 0
    }

    to {
        -webkit-transform: scale(1);
        opacity: 1
    }
}

@-webkit-keyframes b {
    0% {
        -webkit-transform: scale(1);
        opacity: 1
    }

    15% {
        -webkit-transform: scale(1.1);
        opacity: 1
    }

    to {
        -webkit-transform: scale(.5);
        opacity: 0
    }
}

@-webkit-keyframes c {
    0% {
        -webkit-transform: translate(-50%,-50%) rotate(0)
    }

    50% {
        -webkit-transform: translate(-50%,-50%) rotate(-180deg)
    }

    to {
        -webkit-transform: translate(-50%,-50%) rotate(-1turn)
    }
}

@-webkit-keyframes d {
    0% {
        -webkit-transform: scale(1)
    }

    10% {
        -webkit-transform: scale(1.2) translateX(6px)
    }

    25% {
        -webkit-transform: scale(1.3) translateX(8px)
    }

    40% {
        -webkit-transform: scale(1.2) translateX(6px)
    }

    50% {
        -webkit-transform: scale(1)
    }

    60% {
        -webkit-transform: scale(.8) translateX(6px)
    }

    75% {
        -webkit-transform: scale(.7) translateX(8px)
    }

    90% {
        -webkit-transform: scale(.8) translateX(6px)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@-webkit-keyframes e {
    0% {
        -webkit-transform: scale(1)
    }

    10% {
        -webkit-transform: scale(1.2) translateX(-6px)
    }

    25% {
        -webkit-transform: scale(1.3) translateX(-8px)
    }

    40% {
        -webkit-transform: scale(1.2) translateX(-6px)
    }

    50% {
        -webkit-transform: scale(1)
    }

    60% {
        -webkit-transform: scale(.8) translateX(-6px)
    }

    75% {
        -webkit-transform: scale(.7) translateX(-8px)
    }

    90% {
        -webkit-transform: scale(.8) translateX(-6px)
    }

    to {
        -webkit-transform: scale(1)
    }
}

.drift-zoom-pane {
    background: rgba(0,0,0,.5);
    transform: translateZ(0);
    -webkit-transform: translateZ(0)
}

.drift-zoom-pane.drift-opening {
    animation: a .18s ease-out;
    -webkit-animation: a .18s ease-out
}

.drift-zoom-pane.drift-closing {
    animation: b .21s ease-in;
    -webkit-animation: b .21s ease-in
}

.drift-zoom-pane.drift-inline {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    box-shadow: 0 6px 18px rgba(0,0,0,.3)
}

.drift-loading .drift-zoom-pane-loader {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    width: 66px;
    height: 20px;
    animation: c 1.8s linear infinite;
    -webkit-animation: c 1.8s linear infinite
}

.drift-zoom-pane-loader:after,.drift-zoom-pane-loader:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    border-radius: 20px;
    background: hsla(0,0%,100%,.9)
}

.drift-zoom-pane-loader:before {
    left: 0;
    animation: d 1.8s linear infinite;
    -webkit-animation: d 1.8s linear infinite
}

.drift-zoom-pane-loader:after {
    right: 0;
    animation: e 1.8s linear infinite;
    -webkit-animation: e 1.8s linear infinite;
    animation-delay: -.9s;
    -webkit-animation-delay: -.9s
}

.drift-bounding-box {
    background-color: rgba(0,0,0,.4)
}
