.modal.modal-left .modal-dialog, .modal.modal-right .modal-dialog {
    min-height: calc(100vh - 0px);
}

.tamaño {
    max-width: 460px;
}


/* Tamaños del modal de contenido para el Blog */

@media screen and (max-width: 630px) {
    .tamaño_blog {
        max-width: 360px;
    }
    .tamaño_pago {
        height: 120px !important;
    }
    .tamaño_beneficios{
        height: 243px !important;
    }
}

@media screen and (min-width : 630px) and (max-width : 1210px) {
    .tamaño_blog {
        max-width: 460px;
    }
    .tamaño_pago {
        height: 120px !important;
    }
    .tamaño_beneficios{
        height: 118px !important;
    }
}

@media screen and (min-width : 1210px) and (max-width : 1920px) {
    .tamaño_blog {
        max-width: 560px;
    }
    .tamaño_pago {
        height: 120px !important;
    }
    .tamaño_beneficios{
        height: 118px !important;
    }
}

@media screen and (min-width : 1920px) {
    .tamaño_blog {
        max-width: 660px;
    }
    .tamaño_pago {
        height: 120px !important;
    }
    .tamaño_beneficios{
        height: 97px !important;
    }
}

/* Fin modal Blog */


.modal.modal-left.show .modal-dialog, .modal.modal-right.show .modal-dialog {
    transform: translate(0, 0);
}

.modal.modal-left .modal-content, .modal.modal-right .modal-content {
    height: calc(100vh - 0px);
    overflow-y: hidden;
}

.modal.modal-left .modal-dialog {
    transform: translate(-100%, 0);
    margin: 0px auto 0 0;
    border-radius: 0;
}

.modal.modal-right .modal-dialog {
    transform: translate(100%, 0);
    margin: 0px 0 0 auto;
    border-radius: 0;
}

.modal-content {
    border-radius: 0;
    border: none;
    border-radius: 0 !important;
}

.lateral {
    top: 70px;
    padding: .5rem;
    overflow: auto;
    padding-bottom: 60px;
}

.modal-header-lateral {
    -ms-flex-pack: justify;
    -ms-flex-align: start;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    align-items: center;
    padding: 20px;
    border-radius: 0 !important;
    position: fixed;
    z-index: 2;
    right: 0px;
    left: 0px;
}

.colorNormal {
    background-color: #6d7fcc !important;
    color: white;
}

.colorLinear {
    background: linear-gradient(40deg, #6d7fcc, #05ffa3) !important;
    color: white;
}

.modal-footer {
    -ms-flex-pack: end;
    -ms-flex-align: center;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    /* border-top: 2px solid #e9acef; */
    align-items: center;
}

.close {
    opacity: 100 !important;
}

.btn-outline-white {
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
    background: #6d7fcc;
    padding: 7px;
    color: white;
    margin-right: 2px;
    font-weight: 500;
}

.btn-outline-white:hover {
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
    background: white;
    padding: 7px;
    color: #6d7fcc;
    margin-right: 2px;
    font-weight: 500;
}

.btn.btn-primary.positive {
    text-align: center;
    border: 2px solid #6d7fcc;
    height: 44px;
    border-radius: 22px;
    background: transparent;
    padding: 5px;
    color: #6d7fcc;
    font-weight: 500;
}

.btn.btn-primary.positive:hover {
    text-align: center;
    border: 0px solid #6d7fcc;
    height: 44px;
    border-radius: 22px;
    background: linear-gradient(40deg, #2096ff, #05ffa3) !important;
    padding: 5px;
    color: white;
    font-weight: 500;
}

.btn.btn-primary.positive:focus {
    text-align: center;
    border: 0px solid #6d7fcc;
    height: 44px;
    border-radius: 22px;
    background: linear-gradient(40deg, #2096ff, #05ffa3) !important;
    padding: 5px;
    color: white;
    font-weight: 500;
    box-shadow: none !important;
}

.btn.btn-primary.negative {
    text-align: center;
    border: 2px solid red;
    height: 44px;
    border-radius: 22px;
    background: transparent;
    padding: 5px;
    color: red;
    font-weight: 500;
}

.btn.btn-primary.negative:hover {
    text-align: center;
    border: 0px solid red;
    height: 44px;
    border-radius: 22px;
    background: linear-gradient(40deg, #ffd86f, #fc6262) !important;
    padding: 5px;
    color: white;
    font-weight: 500;
}

.btn.btn-primary.negative:focus {
    text-align: center;
    border: 0px solid red;
    height: 44px;
    border-radius: 22px;
    background: linear-gradient(40deg, #ffd86f, #fc6262) !important;
    padding: 5px;
    color: white;
    font-weight: 500;
    box-shadow: none !important;
}

.blanco {
    color: white !important;
}

.fa-4x {
    font-size: 4em !important;
    color: #6d7fcc !important;
}

.divcolor {
    margin-bottom: 1rem !important;
    margin-left: 3px !important;
    margin-right: 3px !important;
}

.margen {
    margin-left: 1px !important;
    margin-right: 1px !important;
}

.divContentTotales {
    padding: 0px !important;
    border-top: 2px solid #6d7fcc;
    border-right: 2px solid #6d7fcc;
    border-left: 2px solid #6d7fcc;
}

.colorFin {
    border-bottom: 2px solid #6d7fcc;
}

.nombreTotales {
    width: 95px;
    padding: 5px;
    font-weight: bold;
    font-style: italic;
    font-size: 10px;
}

.simboloTotal {
    border-right: 2px solid #6d7fcc;
    width: 35px;
    padding: 5px;
    font-weight: bold;
    font-style: italic;
    font-size: 10px;
}

.colorMontos {
    padding: 5px;
    font-weight: bold;
    font-style: italic;
    font-size: 10px;
}

/* .btn-app{
     border-radius: 3px;
     position: relative;
     padding: 15px 5px;
     margin: 0 0 10px 10px;
     min-width: 120px;
     height: 110px;
     text-align: left;
     color: #666;
     border: 1px solid #ddd;
     background-color: #f4f4f4;
     font-size:12px
}

.btn-app>.fa,.btn-app>.glyphicon,.btn-app>.ion{
     font-size: 20px;
     display: block
}

.btn-app:hover{
     background: #f4f4f4;
     color: #444;
     border-color: #aaa;
     cursor: pointer;
}

.btn_app_xml{

}

.btn_app_pdf{

}

.btn-app:active,.btn-app:focus{
     -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
     -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
     box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
}

.btn-app>.badge{
     position: absolute;
     top: -3px;
     right: -10px;
     font-size: 10px;
     font-weight: 400
} */
.btn_app_xml {
    position: relative;
    margin: 0 0 10px 10px;
    text-align: left;
    width: 110px;
    color: #6d7fcc !important;
    border: 2px solid #6d7fcc;
    font-size: 12px;
    border-radius: 15px;
    padding: 5px 15px 5px 15px;
}

.btn_app_xml:hover {
    position: relative;
    margin: 0 0 10px 10px;
    text-align: left;
    width: 110px;
    color: white !important;
    border: 2px solid #6d7fcc;
    background: #6d7fcc;
    font-size: 12px;
    border-radius: 15px;
    padding: 5px 15px 5px 15px;
}

.btn_app_pdf {
    position: relative;
    margin: 0 0 10px 10px;
    text-align: left;
    width: 110px;
    color: #FF4B2B !important;
    border: 2px solid #FF4B2B;
    font-size: 12px;
    border-radius: 15px;
    padding: 5px 15px 5px 15px;
}

.btn_app_pdf:hover {
    position: relative;
    margin: 0 0 10px 10px;
    text-align: left;
    width: 110px;
    color: white !important;
    border: 2px solid #FF4B2B;
    background: #FF4B2B;
    font-size: 12px;
    border-radius: 15px;
    padding: 5px 15px 5px 15px;
}

.btm-secondary {
    color: #6d7fcc !important;
    background-color: white !important;
    border: 2px solid #6d7fcc !important;
    cursor: pointer !important;
    box-shadow: none !important;
    font-size: 12px;
}

.btm-secondary:hover {
    color: #6d7fcc !important;
    background-color: white !important;
    border: 2px solid #6d7fcc !important;
    cursor: pointer !important;
    box-shadow: none !important;
}

.btm-secondary:not(:disabled):not(.disabled).active, .btm-secondary:not(:disabled):not(.disabled):active, .show>.btm-secondary.dropdown-toggle {
    color: white !important;
    background-color: #6d7fcc !important;
    border: 2px solid #6d7fcc !important;
    cursor: pointer !important;
    box-shadow: none !important;
}
