/* Scrool Bar*/
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border: 1px solid #ffffff;
  border-radius: 9px;
}
::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
}
::-webkit-scrollbar-thumb:active {
  background: #26a69a;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 9px;
}
::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
