/* Social Bar Right */
.social-bar {
    position: fixed;
    right: 0;
    top: 30%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}

.icon {
    color: white !important;
    text-decoration: none;
    padding: .7rem;
    width: 3.1rem;
    display: flex;
    transition: all .5s;
}

.icon>.text {
    font-size: 0px;
}

.icon:first-child {
    border-radius: 1rem 0 0 0;
}

.icon:last-child {
    border-radius: 0 0 0 1rem;
}

.icon:hover {
    width: 11.1rem;
    /* padding-right: 3rem; */
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
    color: white;
}

.icon:hover>.text {
    font-size: 10px;
    padding-top: 5px;
    transition: all .5s;
}

/* Social Bar Left */
.social-bar-left {
    position: fixed;
    left: 0;
    top: 45%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 100;
}

.icon-left {
    color: white !important;
    text-decoration: none;
    padding: .7rem;
    width: 3.1rem;
    display: flex;
    transition: all .5s;
}

.icon-left>.text {
    font-size: 0px;
}

.icon-left:first-child {
    border-radius: 0 1rem 0 0;
}

.icon-left:last-child {
    border-radius: 0 0 1rem 0;
}

.icon-left:hover {
    width: 11.1rem;
    /* padding-left: 3rem; */
    text-decoration: none;
    border-radius: 0 1rem 1rem 0;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
    color: white;
}

.icon-left:hover>.text {
    font-size: 10px;
    padding-top: 5px;
    transition: all .5s;
}

/* General */
.icon-facebook {
    background: #2E406E;
}

.icon-twitter {
    background: #339DC5;
}

.icon-youtube {
    background: #E83028;
}

.icon-instagram {
    background: #3F60A5;
}

.icon-messenger {
    background: #0084ff;
}

.icon-whatsapp {
    background: #0f9d58;
}
